top_left = ('default/sprites.png' -0px -0px 9px 23px)
top_right = ('default/sprites.png' -9px -0px 9px 23px)
go_reload = ('default/sprites.png' -18px -0px 20px 20px)
go_on = ('default/sprites.png' -38px -0px 20px 20px)
go_off = ('default/sprites.png' -0px -23px 20px 20px)
sizer = ('default/sprites.png' -20px -23px 9px 19px)
go_back = ('default/sprites.png' -29px -23px 16px 16px)
go_next = ('default/sprites.png' -58px -0px 16px 16px)
go_top = ('default/sprites.png' -58px -16px 16px 16px)
maximize = ('default/sprites.png' -0px -43px 14px 15px)
minimize = ('default/sprites.png' -14px -43px 14px 15px)
close = ('default/sprites.png' -28px -43px 14px 14px)
